@import '../../../scss/other/__colors.scss';
@import '../../../scss/other/__functions.scss';

.drop-down-menu {
  position: absolute;
  display: none;
  z-index: 999999999;

  &__link {
    display: block;
  }
}